 @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

 
 body {
  margin: 0;
  padding: 0;
}
  .hero-banner {
  background-image:   linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),   url('./assets/20210118_MAT_Presentazione concept_page-0012.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
 
  height: 100vh; 
  width: 100%;
}

 .navbar {
  background-color: rgba(255, 255, 255, 0.15);  
  backdrop-filter: blur(8px);                  
  position: absolute;                           
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.navbar-nav .nav-link {
  font-family: 'Roboto Serif', serif;
}